.dt-responsive {
td {
    border-top: 0px solid var(--tableBorder);
    border-bottom: 1px solid var(--tableBorder);
}

/* th {
    border-top: 1px solid var(--tableBorder) !important;
    border-bottom: 0px solid var(--tableBorder) !important;
    background-color: rgb(244, 244, 244);
} */

th,
td {
    border-bottom: 0px solid var(--tableBorder) !important;
}

th:first-child {
    border-left: 1px solid var(--tableBorder);
}

th:last-child {
    border-right: 1px solid var(--tableBorder);
}

td:first-child {
    border-left: 1px solid var(--tableBorder);
}

td:last-child {
    border-right: 1px solid var(--tableBorder);
}


}







.datepicker table {
    border: 1px var(--tableBorder) solid !important;
}

.datepicker-days {
    padding: 5px !important;
}

.datepicker td,
th {

    border-bottom: 1px var(--tableBorder) solid !important;
}

.datepicker td:last-child,
th:last-child {
    padding: 0 3px;


}

.datepicker td:first-child,
th:first-child {
    padding: 0 3px;

}

.datepicker td:hover {
    background-color: white !important;
}

.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover:active, 
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active:hover.active, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled:hover.active {
    background-image: linear-gradient(to bottom, rgb(31, 155, 95), rgb(31, 155, 95));
}
