


/* @media (min-width:768px) {
    .navbar .navbar-nav .nav-item .nav-link i {
        display: none;
    }
}
 */




.modal-footerr .btn {
  width: 100px;
}
.modal-content {
  border-top: 13px solid rgb(15,165,100);
  /* z-index: 999; */
}
.modal-header {
/* background-color: rgb(15,165,100);
color:white; */

padding:10px 0px;
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}










/* Selection */







/* 
label {
  margin-bottom:2px;
  font-size:14px;
} */









/* label {
  margin:0px;
  padding:0px;
} */


/* .error-text {
  padding:30px;
  margin-bottom:16px;
}
 */
@media (max-width: 700px) {
  
    /* .videos .col-md-4 {
        padding-left: 10%;
        padding-right: 10%;
    } */

}

/* .label-notes {
  font-size:11px;
   margin-top:-10px; 
   padding-bottom:10px; 
} */





    .modal-content {
      border-radius: 10px;    
  }








/* .input-group-text {


background-color:transparent;
color: #d4d9de;
} */
